---
import BaseLayout from "../layouts/BaseLayout.astro";
import PdfDescargable from "./PdfDescargable.astro";
---

<BaseLayout title="Ejemplo de PDF Descargable">
  <main class="container mx-auto p-4">
    <PdfDescargable />
  </main>
</BaseLayout>
