---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<script
			src="https://kit.fontawesome.com/666635bc15.js"
			crossorigin="anonymous"></script>
	</body>
</html>
