---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPonentes = await Astro.glob("./ponentes/*.md");
const pageTitle = "Ponentes2";
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        {
            allPonentes.map((ponente) => (
                <li>
                    <a href={ponente.url}>{ponente.frontmatter.nombre}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
