---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <div class="flex justify-center p-8">
            <table id="filter-table">
                <thead>
                    <tr>
                        <th>
                            <span class="flex items-center">
                                Nombre
                                <svg
                                    class="w-4 h-4 ms-1"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m8 15 4 4 4-4m0-6-4-4-4 4"></path>
                                </svg>
                            </span>
                        </th>
                        <th>
                            <span class="flex items-center">
                                Participación:
                                <svg
                                    class="w-4 h-4 ms-1"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m8 15 4 4 4-4m0-6-4-4-4 4"></path>
                                </svg>
                            </span>
                        </th>
                        <th>
                            <span class="flex items-center">
                                Inscrito en taller:
                                <svg
                                    class="w-4 h-4 ms-1"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m8 15 4 4 4-4m0-6-4-4-4 4"></path>
                                </svg>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-blue-50">
                        <td class="font-bold">Raul Morales Escalante</td>
                        <td>Ponente</td>
                        <td>No</td>
                    </tr>
                    <tr class="hover:bg-blue-50">
                        <td class="font-bold">Dato</td>
                        <td>Dato</td>
                        <td>No</td>
                    </tr>
                    <tr class="hover:bg-blue-50">
                        <td class="font-bold">Dato</td>
                        <td>Dato</td>
                        <td>Dato</td>
                    </tr>
                    <tr class="hover:bg-blue-50">
                        <td class="font-bold">Dato</td>
                        <td>Dato</td>
                        <td>Dato</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            import "../scripts/buscar.js";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"
        ></script>
    </body>
</html>
