---
const { frontmatter } = Astro.props;
---

<br />
<div id="accordion-collapse-4" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-4">
        <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-600 border bg-gray-50 border-gray-200 rounded-xl hover:bg-gray-200 transition-colors duration-400"
            data-accordion-target="#accordion-collapse-body-4"
            aria-expanded="false"
            aria-controls="accordion-collapse-body-4"
        >
            <div class="flex items-center gap-2">
                <i class="fa-regular fa-life-ring"></i><span
                    >Herramientas de ayuda</span
                >
            </div>
            <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5 5 1 1 5"></path>
            </svg>
        </button>
    </h2>
    <div
        id="accordion-collapse-body-4"
        class="hidden"
        aria-labelledby="accordion-collapse-heading-4"
    >
        <div class="p-5 border border-gray-200">
            <p class="text-center text-slate-400">Construyendo</p>
        </div>
    </div>
</div>
