---

---

<a
    href="https://docs.google.com/presentation/d/1lzc23vXw3SrARNIGm2QCNytUaZUuVfRJ/edit?usp=sharing&ouid=105313145806854073415&rtpof=true&sd=true"
    target="_blank"
    ><button
        type="button"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        ><i class="fa-brands fa-pied-piper-pp text-5xl"></i><br />
        <p>Plantilla para diapositivas</p></button
    ></a
>
