---
import "../styles/global.css";
const { pageTitle } = Astro.props;
const { tipo } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body
        class={tipo == "Ponente" ||
        tipo == "Moderador" ||
        tipo == "Conferencista magistral" ||
        tipo == "Mesa de diálogo" ||
        tipo == "Asistente"
            ? "bg-blue-100"
            : tipo == "STAFF"
              ? "bg-red-50"
              : "bg-amber-50"}
    >
        <slot />
        <script
            src="https://kit.fontawesome.com/666635bc15.js"
            crossorigin="anonymous"></script>
        <script src="flowbite/dist/flowbite.min.js"></script>
    </body>
</html>
