---
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="bg-blue-100">
        <slot />
        <script
            src="https://kit.fontawesome.com/666635bc15.js"
            crossorigin="anonymous"></script>
        <script src="flowbite/dist/flowbite.min.js"></script>
    </body>
</html>
